@model IEnumerable<CMSNews.Models.ViewModels.NewsViewModel>

<div class="news-panel">
    <div class="news-item-title">
        پربازدید ترین خبرها
    </div>
    @foreach (var item in Model)
    {
        @Html.Partial("_NewsBox1", item, new ViewDataDictionary { { "code", 2 } })
    }
</div>

